.my-title {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.my-highlight {
    color: white;
    background: red;
    font-family: "Bauhaus 93", "Agency FB", monospace;
}

.my-text {
    font-family: "Arial Black", monospace;
    text-align: left;
    line-height: normal;
    text-indent: 10rem;
    word-spacing: 10px;
}

.my-box {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 5px #808080 inset;
}