<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="icon" href="../images/icon.png">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
</head>

<body>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="mx-auto my-2 order-0 order-md-0 position-relative">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/index.html">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/computer.html">Computer</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/keyboard.html">Keyboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/mouse.html">Mouse</a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="nav navbar-light bg-light justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/VAII/templates/pc.html">PC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Laptop</a>
            </li>
        </ul>
    </div>
    <div class="card">
        <img src="../images/4.webp" class="card-img-top" alt="Image of computer">
        <div class="card-body">
            <h5 class="card-title">Laptop vs desktop: which should you buy?</h5>
            <h6 class="card-text">Differences</h6>
            <p class="card-text">A desktop PC is a static, stationary computer that will stay on a desk in an office or bedroom. It usually consists of various parts: a tower, a monitor, a keyboard, and a mouse. </p>
            <p class="card-text">PCs are generally more customizable than laptops as well. You can put together top-of-the-line parts for every aspect of the PC when you choose a desktop computer, whereas your choices are more limited with a laptop.</p>
            <p class="card-text">Check out our pick of the best desktop PCs to see what this form factor has to offer.</p>
            <p class="card-text">A laptop (also called a notebook) is a portable, all-in-one device that usually has USB inputs on the sides for optional peripherals. Laptops have a built-in screen, a built-in keyboard, a trackpad that acts as a mouse, and can vary in size. </p>
            <a href="https://www.techradar.com/news/laptop-vs-desktop-which-should-you-buy">Source</a>
        </div>
    </div>
</body>
</html>