<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="icon" href="../images/icon.png">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="mx-auto my-2 order-0 order-md-0 position-relative">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/VAII/templates/index.html">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/VAII/templates/computer.html">Computer</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/VAII/templates/keyboard.html">Keyboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/VAII/templates/mouse.html">Mouse</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card">
        <img src="../images/2.jpg" class="card-img-top" alt="Image of computer">
        <div class="card-body">
            <h5 class="card-title">Keyboard</h5>
            <p class="card-text">A computer keyboard is a typewriter-style device[1] which uses an arrangement of buttons or keys to act as mechanical levers or electronic switches. Replacing early punched cards and paper tape technology, interaction via teleprinter-style keyboards have been the main input method for computers since the 1970s, supplemented by the computer mouse since the 1980s.</p>
            <p class="card-text">Keyboard keys (buttons) typically have a set of characters engraved or printed on them, and each press of a key typically corresponds to a single written symbol. However, producing some symbols may require pressing and holding several keys simultaneously or in sequence.[2] While most keyboard keys produce letters, numbers or symbols (characters), other keys or simultaneous key presses can prompt the computer to execute system commands, such as such as the Control-Alt-Delete combination used with Microsoft Windows.[3][4] In a modern computer, the interpretation of key presses is generally left to the software: the information sent to the computer, the scan code, tells it only which key (or keys) on which row and column, was pressed or released.[5]</p>
            <p class="card-text">In normal usage, the keyboard is used as a text entry interface for typing text, numbers, and symbols into application software such as a word processor, web browser or social media app.</p>
            <a href="https://en.wikipedia.org/wiki/Computer_keyboard" class="card-link">Source</a>
        </div>
    </div>
</body>
</html>