<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="icon" href="../images/icon.png">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
</head>
<body>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="mx-auto my-2 order-0 order-md-0 position-relative">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/index.html">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/computer.html">Computer</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/keyboard.html">Keyboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/mouse.html">Mouse</a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="nav navbar-light bg-light justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/VAII/templates/pc.html">PC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Laptop</a>
            </li>
        </ul>
    </div>
</body>
</html>