<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="icon" href="../images/icon.png">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/my-styles.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
</head>
<body>
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="mx-auto my-2 order-0 order-md-0 position-relative">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/index.html">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/computer.html">Computer</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/keyboard.html">Keyboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/VAII/templates/mouse.html">Mouse</a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="nav navbar-light bg-light justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/VAII/templates/pc.html">PC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Laptop</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <h1 class="my-title my-highlight my-box">Portable computer</h1>
        <p class="my-text">A portable computer is a computer designed to be easily[1] moved from one place to another and included a display and keyboard. The first commercially sold portable was the 50-pound (23 kg) IBM 5100, introduced 1975. The next major portables were Osborne's 24-pound (11 kg) CP/M-based Osborne 1 (1981) and Compaq's 28-pound (13 kg) 100% IBM PC compatible Compaq Portable (1983). These "luggable" computers lacked the next technological development, not requiring an external power source;[2] that feature was introduced by the laptop.[3][2] Laptops were followed by lighter models, so that in the 2000s mobile devices and by 2007 smartphones made the term almost meaningless. The 2010s introduced wearable computers such as smartwatches.[4]</p>
        <p class="my-text">Portable computers, by their nature, are generally microcomputers.[5] Larger portable computers were commonly known as 'Lunchbox' or 'Luggable' computers. They are also called 'Portable Workstations' or 'Portable PCs'. In Japan they were often called 'Bentocom'. (ベントコン, Bentokon) from "bento".</p>
        <p class="my-text">Portable computers, more narrowly defined, are distinct from desktop replacement computers in that they usually were constructed from full-specification desktop components, and often do not incorporate features associated with laptops or mobile devices. A portable computer in this usage, versus a laptop or other mobile computing device, have a standard motherboard or backplane providing plug-in slots for add-in cards. This allows mission specific cards such as test, A/D, or communication protocol (IEEE-488, 1553) to be installed. Portable computers also provide for more disk storage by using standard disk drives and provide for multiple drives.</p>
    </div>
</body>
</html>